# Connecting Microsoft SQL Server with Python

This script demonstrates how to connect to a Microsoft SQL Server database using Python.

We will execute a sample query, fetch the results, load them into a Pandas DataFrame, and save them as a CSV file.

## Step 1: Set up the Conda Environment

Ensure the following commands are executed in your `Anaconda Prompt` terminal:

```
conda create -n ms-sql-env python=3.10 ipykernel -y
conda activate ms-sql-env
conda install -c conda-forge pyodbc pandas -y
```

## Step 2: Import Necessary Libraries

Import `pyodbc` for database connection and `pandas` for data manipulation.

In [1]:
import pyodbc
import pandas as pd

## Step 3: Define Connection Parameters

Replace the placeholder values with your actual SQL Server connection details.

In [2]:
# Connection settings
server = 'KH-KH-AC0110\SQLEXPRESS'          # Replace with your server name
database = 'foe_db'                         # Replace with your database name
driver = '{ODBC Driver 17 for SQL Server}'  # Ensure this matches your installed driver
username = 'YourUsername'                   # Replace with your SQL Server username (if needed)
password = 'YourPassword'                   # Replace with your SQL Server password (if needed)

## Step 4: Test the Connection

Check if the connection with your DBMS is working correctly.

In [3]:
try:
    # Use Trusted Connection for Windows Authentication
    connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
    
    # For SQL Authentication, use the following line instead:
    # connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};'
    
    # Establish the connection
    connection = pyodbc.connect(connection_string)
    print("Connection is Successful!")

except pyodbc.Error as e:
    print("Error in connection:", e)

Connection is Successful!

## Step 5: Execute a Sample Query

Fetch data from the `Students` table (replace with your desired table or query).

In [18]:
# insert_query = """INSERT INTO Students (FirstName, LastName, Email)
#             VALUES ('Seif', 'Sameh', 'Seif_sameh@yahoo.com');
#         """
# cursor = connection.cursor()
# cursor.execute(insert_query)
# connection.commit()

In [4]:
# Replace 'Students' with your desired table
query = "SELECT TOP 100 * FROM Students"
# query = """
#     SELECT AVG(DATEDIFF(YEAR, BirthDate, GETDATE())) AS AverageAge
#     FROM Students
# """

# Load query results into a DataFrame
df = pd.read_sql(query, connection)
print(df)

    StudentID FirstName LastName   BirthDate Gender                      Email
0           1   Mostafa     Badr  2010-07-03      M     Mostafa_Badr@gmail.com
1           2      John      Doe  2001-05-15      M       john.doe@example.com
2           3      Jane    Smith  2002-09-30      F     jane.smith@example.com
3           4       Ali     Khan  2000-11-22      M       ali.khan@example.com
4           5      Sara    Ahmed  2001-01-14      F     sara.ahmed@example.com
5           6   Michael    Brown  2003-03-05      M  michael.brown@example.com
6           7     Emily    Davis  2002-07-18      F    emily.davis@example.com
7           8      Omar   Hassan  2001-08-12      M    omar.hassan@example.com
8           9      Omar   Khaled  2001-03-15      M     omar.khaled@student.eg
9          10      Sara     Adel  2002-05-20      F       sara.adel@student.eg
10         11   Youssef     Hany  2000-11-08      M    youssef.hany@student.eg
11         12     Laila   Mohsen  2001-07-25      F    laila.mohsen@student.eg
12         16      Seif    Sameh        None   None       Seif_sameh@yahoo.com

C:\Users\Mostafa.Badr\AppData\Local\Temp\ipykernel_22492\2533630982.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

## Step 6: Save Results to a CSV File

Save the DataFrame to a CSV file for further analysis.

In [5]:
# Replace with your desired file name
output_file = "students_table_updated.csv"
df.to_csv(output_file, index=False)
print(f"Query results save to {output_file}")

Query results save to students_table_updated.csv

## Step 7: Execute a Stored Procedure

Using pyodbc, Python executes the stored procedure `GetStudentsByCourseID`.

In [6]:
# Define the procedure name and parameters  
procedure_name = "GetStudentByCourseID"
course_id = 4

# Execute the stored procedure
cursor = connection.cursor()
cursor.execute(f"EXEC {procedure_name} @CourseID = ?", course_id) ##  EXEC GetStudentByCourseID @CourseID = 4

# Fetch all results into a pandas DataFrame
print(cursor.description)
print('-' * 40)
columns = []
for column in cursor.description:
    columns.append(column[0])
##columns = [column[0] for column in cursor.description]
results = cursor.fetchall()
print(results)
print('-' * 40)
df2 = pd.DataFrame.from_records(results, columns=columns)

# Display the DataFrame
print(df2)


# Optionally save results to a CSV file
df2.to_csv("students_by_course.csv", index=False)

(('StudentID', <class 'int'>, None, 10, 10, 0, False), ('FirstName', <class 'str'>, None, 50, 50, 0, True), ('LastName', <class 'str'>, None, 50, 50, 0, True), ('CourseName', <class 'str'>, None, 100, 100, 0, True), ('EnrollmentDate', <class 'datetime.date'>, None, 10, 10, 0, True))
----------------------------------------
[(4, 'Ali', 'Khan', 'Artificial Intelligence', datetime.date(2024, 9, 4))]
----------------------------------------
   StudentID FirstName LastName               CourseName EnrollmentDate
0          4       Ali     Khan  Artificial Intelligence     2024-09-04

## Step 8: Close the Database Connection

Always close the connection after use.

In [7]:
connection.close()
print("Connection Closed")

Connection Closed